/* root is for light mode */
:root {
  --bg-color: #f4f7fc;
  --text-color: #2c2c2c;
  --highlight: #ff6b00;
}

body.dark {
  --bg-color: #121212;
  --text-color: #e0e0e0;
  --highlight: #e0e0e0;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background 0.3s, color 0.3s;
}

.container {
  padding: 32px;
  text-align: center;
  max-width: 600px;
  margin: auto;
}

.subtitle {
  color: grey;
  font-size: 16px;
  margin-bottom: 0;
}

.name {
  font-size: 32px;
  color: var(--highlight);
  margin-top: 8px;
}

.description {
  font-size: 18px;
  margin: 16px 0 24px;
}

.social-icons a {
  margin: 0 10px;
  font-size: 20px;
  color: var(--text-color);
  transition: color 0.3s;
}

.social-icons a:hover {
  color: var(--highlight);
}

.profile-image img {
  width: 100%;
  max-width: 500px;
  border-radius: 20px;
  margin-top: 32px;
}

.toggle-container {
  text-align: right;
  padding: 16px;
}

#theme-toggle {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: var(--text-color);
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .intro {
    width: 450px;
  }
}
